* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* heading */
header {
  padding: 14px 20px;
  font-size: 25px;
}

.top-nav-left {
  display: inline-block;
  margin: 20px;
}

.top-nav-right {
  overflow: hidden;
  float: right;
}

.top-nav a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin: 0px 40px;
}

/* body */
body {
  color: black;
  font-family: "poppins", sans-serif;
  background-color: white;
}

button {
  font-family: inherit;
}

/* hero */
.hero {
  padding: 40px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  flex: 1;
}

.hero h1 {
  font-size: 6vh;
}

.hero p {
  font-size: 3vh;
}

.hero button {
  width: 15%;
  font-size: 2vh;
}

.hero-img {
  max-width: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*cards*/
.key-features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 8px;
  width: 30vh;
  padding: 5vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translate(-5px);
}
