* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* heading */
header {
  padding: 14px 20px;
  font-size: 25px;
}

.top-nav-left {
  display: inline-block;
  margin: 20px;
}

.top-nav-right {
  overflow: hidden;
  float: right;
}

.top-nav a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin: 0px 40px;
}

.start-btn {
  background-color: #d6c5e2;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 17px;
}

/* body */
body {
  color: black;
  font-family: "poppins", sans-serif;
  background-color: #ede4da;
}

button {
  font-family: inherit;
}

/* hero */
.hero {
  padding: 40px;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  flex: 1;
  padding-right: 40px;
  max-width: 50%;
}

.hero h1 {
  font-size: clamp(1rem, 5vw, 3.5rem);
  margin-bottom: 1rem;
}

.hero p {
  font-size: clamp(1.5rem, 4vw, 1.5rem);
  margin-bottom: 1rem;
}

.hero button {
  width: 15%;
  font-size: 2vh;
}

.hero-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.hero-img img {
  max-width: 100%;
  height: auto;
}

/*cards*/
.key-features {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 8px;
  width: 30vh;
  padding: 5vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #06A37F;
}

.card:hover {
  transform: translate(-5px);
}
